.hero{
    height: 80vh;
    /* border: 2px solid red; */
}
.her{
    /* width: 3050px !important; */
    margin-top:-40px !important;
}
.heroText{
    /* font-size: 100px !important; */
}
.linear-color{
    background: linear-gradient(to right, #85C905, #466904);
    height: 50px;
}