.myPrdImgHolder{
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.line-heightmyPrd{
    line-height: 9px;
}

@media (max-width:600px) {
    .myPrdBox{
        width: 10vw !important;
    }
}