.upload-box .inp, .imgs{
    background-color:#F8F9FB;
    border:2px solid #E8EBF1
}
.details-box input, .details-box select{
    height: 65px;
    border:1px solid #E8EBF1 !important;
    background-color: #F8F9FB;
}
.multipleImgBox, .gal-imgs{
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}
.details-box input:focus{
    outline: 2px solid #0DC029 !important;
}
.img-box-holder{
 width: 39vw;   
 height: 65vh;
}
.prd-textarea{
    height:65vh;
    width:47.5vw;
}
@media (max-width:600px) {
    .img-box-holder{
        width: 90vw;
        height: 55vh;
    }
    .prd-textarea{
        height:45vh;
        width:91vw;
    }
}