.upload-box .inp, .imgs{
    background-color:#F8F9FB;
    border:2px solid #E8EBF1
}
.upload-box input{
    height: 65px;
    border:1px solid #E8EBF1 !important;

}
.multipleImgBox{
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}
.img-box-holder{
 width: 39vw;   
 height: 65vh;
}
.prd-textarea{
    height:65vh;
    width:47.5vw;
}

@media (max-width:600px) {
    .img-box-holder{
        width: 90vw;
        height: 55vh;
    }
    .prd-textarea{
        height:65vh;
        width:90vw;
    }
}